$WHITE: #FFFFFF;
$EXTRA_BRIGHT_GRAY: #C6C6C6;

$BRIGHT_GRAY: #A1A1AA;
$LIGHT_GRAY: #414144;
$GRAY: #27272A;
$GRAY_DARK: #202124;

$BLUE: #5F98F5;
$GREEN: #95FFAC;
$YELLOW: #F5F18F;
$ORANGE: #F7D681;
$RED: #F7A286;
$PURPLE: #C286F7;


$FONT_DEFAULT: "Roboto", "Arial", sans-serif;

$ASIDE_PADDING: 20px;
