.level-actions {
  display: flex;
  padding: 2px;
  background-color: $LIGHT_GRAY;
  border-radius: 6px;

  &__btn {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 2px;


    &:last-child {
      margin-right: 0;
    }
  }
}
